extends layout.pug 

block content
    // Side menu
    span.hamburger(onclick='openSideMenu()') &#x2630; 
        small Menu
    #sideMenu.side-menu
        a.close-side-menu-btn(href='javascript:void(0)' onclick='closeSideMenu()') &times;
        // Search type
        form.d-flex.flex-column.justify-content-center.align-items-center.m-2.text-white
            label.form-label-text(for='selectProblem') Please Select A Search Type: 
            select#selectProblem.custom-select.my-2
                option(selected='' value='A_star') A*
                option(value='Breadth_first_search') BFS
                option(value='Depth_first_search') DFS
                option(value='Djkstra') DJKSTRA
                option(value='Best_first_search') Best First Search
            // Input row
            label(for='startPositionRowIndex') Start Row: 
            #inputRowAlert.alert.alert-warning.d-none
            input#startPositionRowIndex.form-control.form-control-md.my-1(type='text' value='7' placeholder='Row # from 0 to 19' onkeyup='if(!validate(this.value, true)) this.value=0;' aria-expanded='true')
            // Input col
            label.mt-1(for='startPositionColIndex') Start Column: 
            #inputColAlert.alert.alert-warning.d-none
            input#startPositionColIndex.form-control.form-control-md.my-1(type='text' value='7' placeholder='Col # from 0 to 19' onkeyup='if(!validate(this.value, false)) this.value=0;' aria-expanded='true')
            label.form-label-text(for='selectDisplayCost') Display Movement Cost:
            select#selectDisplayCost.custom-select.my-1
                option(selected='' value='no') No
                option(value='yes') Yes
            button#runButton.btn.btn-lg.btn-primary.mt-4.w-100(type='button' onclick='run()' disabled='false') Run
    // Heading
    section.wrap-section.text-center
        img(class="web-logo-img" src="/assets/GraphSearchLogo.png", alt="web-logo" onerror="this.style.display='none'")
        h1.title-text Pathfinding Algorithm
        .info-container
            .info-item-component
                .start-rectangle.mr-1 &#9992;
                span.info-item-component-text Start Grid
            .info-item-component
                .expanded-rectangle.mr-1
                span.info-item-component-text Explored Grid
            .info-item-component
                .mix-color-rectangle.mr-1
                span.info-item-component-text Path
            .info-item-component
                .wall-rectangle.mr-1
                span.info-item-component-text Wall
            .info-item-component
                .end-rectangle.mr-1 &#127937
                span.info-item-component-text End Grid
            
        .run-map-container
            .run-map-item
                span Map:
                select#selectMap.custom-select.mx-2
                    option(value='L_MAP') L_MAP
                    option(selected='' value='MAZE_MAP') MAZE_MAP 
                    option(value='EMPTY_MAP') EMPTY_MAP
            button.btn.btn-md.btn-primary.px-5(type='button' onclick='run()') Run

        .d-flex.flex-row.justify-content-center
            u Total explored grids:
            h5#exploredNodes.ml-2 

        // grid board
        section#grid-board.grid-board(name='grid-board')

    // JavaScript
    script(src='vendors/jquery/jquery-3.3.1.slim.min.js')
    script(src='vendors/popper/popper.min.js')
    script(src='vendors/bootstrap/bootstrap.min.js')
    script(src='javascripts/validate.js')
    script(src='javascripts/node.js')
    script(src='javascripts/constant.js')
    script(src='javascripts/stack.js')
    script(src='javascripts/queue.js')
    script(src='javascripts/priority-queue.js')
    script(src='javascripts/mapData.js')
    script(src='javascripts/utils.js')
    script(src='javascripts/graph.js')
    script(src='javascripts/searchProblem.js')
    script(src='javascripts/run.js')
